<div class="container marg50">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <contact-card editable="$ctrl.editable"
                          edit-item="contact.edit.title.contactCard"
                          edit-msg="$ctrl.editMsg"
                          edit-title="$ctrl.editTitleContactCard"
                          edit-modal-class="'contact-presenter'"
                          close-btn-text="$ctrl.closeBtnText"
                          in-progress-text="$ctrl.inProgressText"
                          submit-btn-text="$ctrl.submitBtnText"
                          email-text-note="$ctrl.emailTextNote"
                          email-value-note="$ctrl.emailValueNote"
                          title-class="'welcome_page'"
                          title="contact.title.contactCard"
                          contact-container-class="'adress_cont'"
                          address-container-class="'adress_cont'"
                          social-network-edit-class="'contact-presenter1'"></contact-card>
            <business-hours editable="$ctrl.editable"
                            edit-msg="$ctrl.editMsg"
                            edit-title="$ctrl.editTitleBusinessHours"
                            close-btn-text="$ctrl.closeBtnText"
                            in-progress-text="$ctrl.inProgressText"
                            submit-btn-text="$ctrl.submitBtnText"></business-hours>
            <social-network editable="$ctrl.editable"
                            edit-msg="$ctrl.editMsg"
                            edit-title="$ctrl.editTitleSocialNetwork"
                            edit-modal-class="'contact-presenter2'"
                            close-btn-text="$ctrl.closeBtnText"
                            in-progress-text="$ctrl.inProgressText"
                            submit-btn-text="$ctrl.submitBtnText"
                            ng-show="true"
                            title-is-visible="true"
                            icon-container-class="'soc_about'"></social-network>
        </div>
        <div class="col-lg-8 col-sm-8">
            <contact-form editable="$ctrl.editable"
                          edit-msg="$ctrl.editMsg"
                          edit-title="$ctrl.editTitleContactForm"
                          edit-title-explanation="$ctrl.editTitleContactFormExplanation"
                          edit-title-names="$ctrl.editTitleContactFormNames"
                          edit-title-messages="$ctrl.editTitleContactFormMessages"
                          edit-title-submit-idle="$ctrl.editTitleContactFormSubmitIdle"
                          edit-title-submit-progress="$ctrl.editTitleContactFormSubmitProgress"
                          mail-settings-title="$ctrl.mailSettingsTitle"
                          mail-settings-smtp-address-title="$ctrl.mailSettingsSmtpAddressTitle"
                          mail-settings-smtp-port-title="$ctrl.mailSettingsSmtpPortTitle"
                          mail-settings-from-address-title="$ctrl.mailSettingsFromAddressTitle"
                          mail-settings-from-name-title="$ctrl.mailSettingsFromNameTitle"
                          mail-settings-from-password-title="$ctrl.mailSettingsFromPasswordTitle"
                          mail-settings-to-title="$ctrl.mailSettingsToTitle"
                          mail-settings-to-address-placeholder="$ctrl.mailSettingsToAddressPlaceholder"
                          mail-settings-to-name-placeholder="$ctrl.mailSettingsToNamePlaceholder"
                          mail-settings-subject-prefix-title="$ctrl.mailSettingsSubjectPrefixTitle"
                          visible-in-page="$ctrl.visibleInPage"
                          invisible-in-page="$ctrl.invisibleInPage"
                          close-btn-text="$ctrl.closeBtnText"
                          in-progress-text="$ctrl.inProgressText"
                          submit-btn-text="$ctrl.submitBtnText"></contact-form>
        </div>
    </div>
</div>