<!DOCTYPE html>
<html>
<head>
    <title>Ekici Makina Sanayi</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
</head>
<body>
    <div lang="@LANG" dir="@DIRECTION">
        <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 20px 20px 5px 20px; text-align:center;">@HEADER (<a href="@SITEURL" target="_blank">@SITENAME</a>)</h2>
        <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 20px 20px 5px 20px;">@NAMETITLE</h3>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 5px; font-weight:lighter;">@NAMEVALUE</p>
        <hr style="border-top: 1px dotted #8c8b8b; margin: 5px;" />
        <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 20px 20px 5px 20px;">@EMAILTITLE</h3>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 5px; font-weight:lighter;">@EMAILVALUE</p>
        <hr style="border-top: 1px dotted #8c8b8b; margin: 5px;" />
        <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 20px 20px 5px 20px;">@SUBJECTTITLE</h3>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 5px; font-weight:lighter;">@SUBJECTVALUE</p>
        <hr style="border-top: 1px dotted #8c8b8b; margin: 5px;" />
        <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 20px 20px 5px 20px;">@MESSAGETITLE</h3>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 5px; font-weight:lighter;">@MESSAGEVALUE</p>
        <hr style="border-top: 1px dotted #8c8b8b; margin: 5px;" />
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 20px; font-weight:lighter; text-align: center;"><small>@NOTE</small></p>
        <div>
            <img src="@LOGOURL" style="margin:auto; display:block;" alt="logo" />
            <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 20px; font-weight:lighter; text-align: center;"><small>&copy; 2017 <a href="@SITEURL" target="_blank">@SITENAME</a></small></p>
        </div>
    </div>
</body>
</html>
